.bg-img1 {
    background-color: #000;
    background-size: cover;
}

.bg-img2 {
    background-color: #000;
    background-size: cover;
}

.bg-img3 {
    background-color: #000;
    background-size: cover;
}

.carousel-caption h5 {
    font-size: 45px;
}

.carousel-caption p {
    font-size: 30px;
}

.carousel-caption {
    top: 50%;
}

.carousel-item img {
    height: 1120px !important;
}

.carousel-item {
    background-color: #000;
}